<img src="../../../assets/contactImg.png" alt="contact picture" />
<div class="container" *ngIf="msgForm">
  <div class="e-row-strong">
    <h1>Contact</h1>
  </div>
  <div class="contact-body">
    <a class="contact-info" href="mailto:rizbo.ns.bk@gmail.com">
      <div class="contact-logo">
        <i class="fa-solid fa-envelope"></i>
      </div>
      <div>
        <h4>Email</h4>
        <p>rizbo.ns.bk@gmail.com</p>
      </div>
    </a>
    <a
      class="contact-info"
      href="https://www.linkedin.com/in/boris-klenovsek-4548a218b/"
      target="_blank"
    >
      <div class="contact-logo">
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <div>
        <h4>LinkedIn</h4>
      </div>
    </a>
    <a class="contact-info" href="https://github.com/RizboNS" target="_blank">
      <div class="contact-logo">
        <i class="fa-brands fa-github"></i>
      </div>
      <div>
        <h4>Github</h4>
      </div>
    </a>
  </div>
  <form [formGroup]="msgForm">
    <div>
      <label>Your Name</label>
      <input
        type="text"
        formControlName="name"
        [ngClass]="{
          'field-error':
            !msgForm.get('name')?.valid && msgForm.get('name')?.touched
        }"
      />
    </div>
    <div
      class="error-msg"
      *ngIf="msgForm.get('name')?.touched && !msgForm.get('name')?.valid"
    >
      Required
    </div>
    <div>
      <label>Your Email</label>
      <input
        type="text"
        formControlName="email"
        [ngClass]="{
          'field-error':
            !msgForm.get('email')?.valid && msgForm.get('email')?.touched
        }"
      />
    </div>
    <div
      class="error-msg"
      *ngIf="msgForm.get('email')?.touched && !msgForm.get('email')?.valid"
    >
      Email must be in the email format...
    </div>
    <div>
      <label>Your Message</label>
      <textarea
        cols="30"
        rows="6"
        formControlName="msg"
        [ngClass]="{
          'field-error':
            !msgForm.get('msg')?.valid && msgForm.get('msg')?.touched
        }"
      ></textarea>
    </div>
    <div
      class="error-msg"
      *ngIf="msgForm.get('msg')?.touched && !msgForm.get('msg')?.valid"
    >
      Message must be at least 2 characters long...
    </div>
    <button
      [disabled]="!msgForm.valid"
      (click)="sendMsgToService(); $event.preventDefault()"
      class="btn"
      [ngClass]="{ disabled: !msgForm.valid && msgForm.touched }"
    >
      Send
    </button>
  </form>
</div>
