<img src="../../../assets/contactImg.png" alt="contact picture" />
<div class="container">
  <div class="e-row-strong">
    <h1>Contact</h1>
  </div>
  <div class="contact-body">
    <a class="contact-info" href="mailto:rizbo.ns.bk@gmail.com">
      <div class="contact-logo">
        <i class="fa-solid fa-envelope"></i>
      </div>
      <div>
        <h4>Email</h4>
        <p>rizbo.ns.bk@gmail.com</p>
      </div>
    </a>
    <a
      class="contact-info"
      href="https://www.linkedin.com/in/boris-klenovsek-4548a218b/"
      target="_blank"
    >
      <div class="contact-logo">
        <i class="fa-brands fa-linkedin"></i>
      </div>
      <div>
        <h4>LinkedIn</h4>
      </div>
    </a>
    <a class="contact-info" href="https://github.com/RizboNS" target="_blank">
      <div class="contact-logo">
        <i class="fa-brands fa-github"></i>
      </div>
      <div>
        <h4>Github</h4>
      </div>
    </a>
  </div>
  <form>
    <div>
      <label>Your Name</label>
      <input type="text" />
    </div>
    <div>
      <label>Your Email</label>
      <input type="text" />
    </div>
    <div>
      <label>Your Message</label>
      <textarea cols="30" rows="6"></textarea>
    </div>
    <button>Send</button>
  </form>
</div>
