<img src="../../../assets/aboutImg.png" alt="about picture" />
<div class="container">
  <div class="e-row-strong">
    <h1>About</h1>
  </div>
  <div class="about-body">
    <div class="e-row">
      <p>
        <span class="e-row-key">Name:</span>
        <span class="e-row-value">Boris</span>
      </p>
    </div>
    <div class="e-row">
      <p>
        <span class="e-row-key">Email:</span>
        <span class="e-row-value">rizbo.ns.bk@gmail.com</span>
      </p>
    </div>
    <div class="e-row">
      <p>
        <span class="e-row-key">Date of birth:</span>
        <span class="e-row-value">31 May 1988</span>
      </p>
    </div>
    <div class="e-row">
      <p>
        <span class="e-row-key">Nationality:</span>
        <span class="e-row-value">Serbian</span>
      </p>
    </div>
  </div>
  <div class="about-footer">
    <h2>PROFESSIONAL PROFILE</h2>
    <p>
      Passionate about programming and UX design. I have used many programming
      languages to achieve the best results for the project on hand. Of all
      technologies and languages I have tried, Javascript/Typescript is the one
      I enjoy the most. My main focus is on Frontend development, with Angular
      as my favourite. However, I do enjoy learning new things. I'm always open
      to trying something new!
    </p>
    <a href="../../../assets/Resume Boris Klenovsek-NPH.pdf" download>
      <button>DOWNLOAD RESUME</button>
    </a>
  </div>
</div>
