<div class="container">
  <div class="e-row-strong">
    <h1>Projects</h1>
  </div>
  <div class="container-body">
    <div class="project">
      <div class="project-images">
        <img src="../../../assets/frame.png" alt="" />
      </div>
      <div class="project-info">
        <h3>Used Cars</h3>
        <div class="project-links"><a href="#">Link</a></div>
        <div class="project-links"><a href="#">Code</a></div>
        <div class="project-links">
          Angular, NodeJS, Express, MongoDB, Firebase
        </div>
        <p>
          Users can register/login, create/update/delete cars if those belongs
          to them. Unregistered users can only view Cars listed for sale.
        </p>
      </div>
    </div>
  </div>
</div>
