<div class="container">
  <div class="e-row-strong">
    <h1>Projects</h1>
  </div>
  <div class="container-body">
    <div class="project">
      <div class="project-images">
        <img src="../../../assets/usedcars.png" id="img1" alt="project image" />
      </div>
      <div class="project-info">
        <h3>Used Cars</h3>
        <div class="project-links links">
          <div class="project-link">
            <a href="https://youtu.be/HjLr_3Szytw" target="_blank">
              Showcase
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
          <div class="project-link">
            <a href="https://github.com/RizboNS/Cars-api" target="_blank"
              >Backend
              <i class="fa-brands fa-github"> </i>
            </a>
          </div>
          <div class="project-link">
            <a href="https://github.com/RizboNS/Cars-app" target="_blank"
              >Frontend
              <i class="fa-brands fa-github"> </i>
            </a>
          </div>
        </div>
        <div class="project-links">Javascript, Typescript</div>
        <div class="project-links">
          Angular, NodeJS, Express, MongoDB, Firebase
        </div>
        <p>
          Users can register/login, create/update/delete cars if those belongs
          to them. Unregistered users can only view Cars listed for sale.
        </p>
      </div>
    </div>
    <div class="project">
      <div class="project-images">
        <img src="../../../assets/usedcars.png" id="img1" alt="project image" />
      </div>
      <div class="project-info">
        <h3>Portfolio</h3>
        <div class="project-links links">
          <div class="project-link">
            <a href="https://youtu.be/HjLr_3Szytw" target="_blank">
              Showcase
              <i class="fa-brands fa-youtube"></i>
            </a>
          </div>
          <div class="project-link">
            <a href="https://github.com/RizboNS/Cars-api" target="_blank"
              >Backend
              <i class="fa-brands fa-github"> </i>
            </a>
          </div>
          <div class="project-link">
            <a href="https://github.com/RizboNS/Cars-app" target="_blank"
              >Frontend
              <i class="fa-brands fa-github"> </i>
            </a>
          </div>
        </div>
        <div class="project-links">Javascript, Typescript</div>
        <div class="project-links">
          Angular, NodeJS, Express, MongoDB, Firebase
        </div>
        <p>
          Users can register/login, create/update/delete cars if those belongs
          to them. Unregistered users can only view Cars listed for sale.
        </p>
      </div>
    </div>
  </div>
</div>
