.container {
  position: relative;
  margin: auto;
  width: 900px;
  color: #aeaeae;
}

.background-img {
  filter: brightness(60%);
  height: 87vh;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: transparent;
  margin-top: -33vh;
  margin-left: -200px;
}
.e-row {
  border-bottom: #aeaeae solid 1px;
}
.c-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.e-row-strong {
  border-bottom: #ef6817 solid 3px;
  position: relative;
  width: 100px;
}
.skill,
h1,
h2 {
  transition: color ease-in-out 0.3s;
}
.fa-brands-fake:hover {
  background-color: #fff;
}
h1:hover,
h2:hover,
.fa-brands:hover,
.fa-solid:hover,
.skill:hover,
.highlight:hover {
  color: #fff;
}
.skill {
  position: relative;
  flex-basis: 300px;
  padding: 0.4rem;
}
.skill-title {
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p {
  padding: 0.1rem 1rem;
}
h1 {
  font-size: 3em;
  font-weight: 300;
}
h2 {
  font-size: 1.9em;
  font-weight: 300;
  padding-bottom: 0.5rem;
}
h3 {
  font-size: 1.5em;
  font-weight: 300;
}
h4 {
  font-size: 1.3em;
  font-weight: 100;
}
.highlight {
  color: #ef6817;
  transition: color ease-in-out 0.3s;
}
.highlight:after {
  content: "";
  border-left: #ef6817 2px solid;
  position: absolute;
  top: 10px;
  bottom: 10px;
  left: 0px;
}

.fa-brands,
.fa-solid {
  color: #ef6817;
  /* background-color: #21201f; */
  background-color: transparent;
  font-size: 2em;
  transition: color ease-in-out 0.3s;
}
.fa-brands-fake {
  color: #21201f;
  background-color: #ef6817;
  font-size: 1.1em;
  padding: 0 0.1rem 0 0.8rem;
  border-radius: 1px;
  font-weight: 500;
  transition: color ease-in-out 0.3s;
}
.right {
  padding-right: 0.8rem;
  padding-left: 0.1rem;
}
@media screen and (max-width: 1300px) {
  .container {
    width: 95%;
  }
  .background-img {
    margin-left: -450px;
  }
}
@media screen and (max-width: 600px) {
  .container {
    width: 95%;
  }
  .background-img {
    margin-left: -350px;
  }
  .skill {
    flex-basis: 100%;
  }
}
