<img class="background-img" src="../../../assets/image3.png" alt="image3" />
<div class="background">
  <div class="container">
    <div class="e-row e-row-strong">
      <h1>Skills</h1>
    </div>
    <div class="e-row">
      <h2>Programming / Markup languages</h2>
    </div>
    <div class="c-row">
      <div class="skill">
        <div class="skill-title">
          <i class="fa-brands fa-js"></i>
          <h3 class="highlight">Javascript</h3>
        </div>
        <h4>Intermediate, 2 years</h4>
      </div>
      <div class="skill">
        <div class="skill-title">
          <div class="fa-brands-fake">TS</div>
          <h3 class="highlight">Typescript</h3>
        </div>
        <h4>Intermediate, 2 years</h4>
      </div>
      <div class="skill">
        <div class="skill-title">
          <i class="fa-brands fa-html5"></i>
          <h3 class="highlight">HTML</h3>
        </div>
        <h4>Intermediate, 2 years</h4>
      </div>
      <div class="skill">
        <div class="skill-title">
          <i class="fa-brands fa-css3-alt"></i>
          <h3 class="highlight">CSS</h3>
        </div>
        <h4>Intermediate, 2 years</h4>
      </div>
      <div class="skill">
        <div class="skill-title">
          <div class="custom-logo">
            <img src="../../../assets/c-sharp-logo.png" alt="c-sharp-logo" />
          </div>
          <h3>C-sharp</h3>
        </div>
        <h4>Intermediate, 1 year</h4>
      </div>
      <div class="skill">
        <h3>SQL</h3>
        <h4>Intermediate, 1 year</h4>
      </div>
      <div class="skill">
        <h3>NoSQL</h3>
        <h4>Intermediate, 1 year</h4>
      </div>
      <div class="skill">
        <h3>Batch (CMD)</h3>
        <h4>Intermediate, 6 months</h4>
      </div>
      <div class="skill">
        <h3>Powershell</h3>
        <h4>Intermediate, 6 months</h4>
      </div>
      <div class="skill">
        <h3>Java</h3>
        <h4>Beginner, 6 months</h4>
      </div>
      <div class="skill">
        <h3>Python</h3>
        <h4>Beginner, 6 months</h4>
      </div>
      <div class="skill">
        <h3>Bash</h3>
        <h4>Beginner, 2 months</h4>
      </div>
    </div>
    <div class="e-row">
      <h2>Frameworks</h2>
    </div>
    <div class="c-row">
      <div class="skill">
        <h3 class="highlight">Angular</h3>
        <h4>Intermediate, 2 years</h4>
      </div>
      <div class="skill">
        <h3>Bootstrap</h3>
        <h4>Intermediate, 2 years</h4>
      </div>
      <div class="skill">
        <h3>Angular Material</h3>
        <h4>Intermediate, 2 years</h4>
      </div>
      <div class="skill">
        <h3>NodeJS / Express</h3>
        <h4>Beginner, 1 year</h4>
      </div>
      <div class="skill">
        <h3>MongoDB</h3>
        <h4>Beginner, 1 year</h4>
      </div>
      <div class="skill">
        <h3>Selenium</h3>
        <h4>Intermediate, 1 months</h4>
      </div>
      <div class="skill">
        <h3>WinForms</h3>
        <h4>Beginner, 6 months</h4>
      </div>
      <div class="skill">
        <h3>ASP.NET</h3>
        <h4>Beginner, 3 months</h4>
      </div>
      <div class="skill">
        <h3>Entity</h3>
        <h4>Beginner, 2 months</h4>
      </div>
    </div>
    <div class="e-row"><h2>Tools</h2></div>
    <div class="c-row">
      <div class="skill">
        <h3>VS Code</h3>
        <h4>Intermediate, 2 years</h4>
      </div>
      <div class="skill">
        <h3>Excel</h3>
        <h4>Expert, 5+ years</h4>
      </div>
      <div class="skill">
        <h3>Outlook</h3>
        <h4>Expert, 4 years</h4>
      </div>
      <div class="skill">
        <h3>Word</h3>
        <h4>Expert, 10+ years</h4>
      </div>
      <div class="skill">
        <h3>PowerPoint</h3>
        <h4>Intermediate, 5+ years</h4>
      </div>
      <div class="skill">
        <h3>Figma</h3>
        <h4>Beginner, 3 months</h4>
      </div>
      <div class="skill">
        <h3>Gimp</h3>
        <h4>Beginner, 1 month</h4>
      </div>
      <div class="skill">
        <h3>Power BI</h3>
        <h4>Beginner, 1 month</h4>
      </div>
    </div>
    <div class="e-row"><h2>Other</h2></div>
    <div class="c-row">
      <div class="skill">
        <h3>Supply Chain</h3>
        <h4>Expert, 3 years</h4>
      </div>
      <div class="skill">
        <h3>Logistics</h3>
        <h4>Expert, 3 years</h4>
      </div>
      <div class="skill">
        <h3 class="highlight">Team Lead</h3>
        <h4>Expert, 1 year</h4>
      </div>
      <div class="skill">
        <h3>Hospitality</h3>
        <h4>Expert, 6+ years</h4>
      </div>
    </div>
  </div>
</div>
