<img src="../../../assets/face-no-smile.png" alt="background-image" />
<div class="background">
  <div class="container">
    <h1>Experience</h1>
    <div class="e-row">
      <h3>SOFTWARE RELEASE ENGINEER AT NCR</h3>
      <h4>(May 2022-Present)</h4>
      <p>
        My team is distributing and deploying Software installation packages for
        our retail customers. I’m writing packages in Batch and Powershell for
        deployment. I am working with SQL queries, SCCM, Company tools for
        deployment, and creating reports with Powershell.
      </p>
    </div>
  </div>
</div>
