<img src="../../../assets/expimg2.png" alt="background-image" />

<div class="container">
  <div class="e-row-strong">
    <h1>Experience</h1>
  </div>
  <div class="e-row">
    <h3>
      SOFTWARE RELEASE ENGINEER / RELEASE MANAGEMENT SPECIALIST III AT NCR
    </h3>
    <h4>(May 2022-Present)</h4>
    <p>
      Writing installation packages in Windows Batch (CMD) / Powershell for
      software deployment. Assisting with software deployment and distribution.
      Collaborating with the DevOps team in the creation and testing of a new
      Enterprise tool. Wich is designed for deploying and packaging Software
      installation among other functions.
    </p>
  </div>
  <div class="e-row">
    <h3>LOGISTICS TEAM LEADER AT NCR</h3>
    <h4>(Mar 2019-May 2022)</h4>
    <p>
      I had an opportunity to improve some of the manual processes by creating
      software designed to automatize manual work with my knowledge of Java, C#,
      Python, and Javascript (HTML/CSS/Angular) which resulted in the vastly
      superior result.
    </p>
  </div>
  <div class="e-row">
    <h3>WAITER IN CHARGE AT PRINCESS CRUISES</h3>
    <h4>(Jul 2012-Nov 2018)</h4>
    <p>
      I worked in the F&B Manager's office, where I improved processes for
      Event/Restaurant reservations. I redesigned the Crew sales benefit
      program, which increased overall Beverage sales.
    </p>
  </div>
  <div class="e-row">
    <h3>DEVELOPMENT WORKER AT TRS SWISS PRODUCTION</h3>
    <h4>(Jan 2009-Nov 2011)</h4>
    <p>
      I worked with the suppliers in purchasing parts needed for product
      remanufacturing, where I tested them and then passed them to production. I
      was working on finding a more efficient and cost-effective way of
      remanufacturing cartridges used in LaserJet Printers.
    </p>
  </div>
</div>
