.container {
  position: relative;
  margin: auto;
  width: 900px;
  color: #aeaeae;
}
img {
  height: 87vh;
  position: fixed;
  top: 50%;
  left: 50%;
  background-color: transparent;
  margin-top: -33vh;
  margin-left: -200px;
  filter: brightness(70%);
}

.e-row-strong {
  border-bottom: #ef6817 solid 3px;
  position: relative;
  width: 100px;
}
h1,
h3,
h4,
p {
  transition: color ease-in-out 0.3s;
}
h1:hover,
h3:hover,
h4:hover,
p:hover {
  color: #fff;
}

h1,
h3,
h4,
p {
  padding: 0.1rem 1rem;
}
h1 {
  font-size: 3em;
  font-weight: 300;
}
h3 {
  font-size: 1.5em;
  font-weight: 300;
  border-bottom: solid #aeaeae 1px;
  margin-top: 1rem;
}
h4 {
  font-size: 1.3em;
  font-weight: 100;
}
p {
  padding-top: 1rem;
  font-size: 1.3em;
  font-weight: 200;
}

@media screen and (max-width: 1300px) {
  .container {
    width: 95%;
  }
  img {
    margin-left: -350px;
  }
}
